
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&family=Lexend:wght@100..900&display=swap');


:root {

--clr-orange: hsl(31, 77%, 52%);
--clr-cyan: hsl(184, 100%, 22%);
--clr-vd-cyan: hsl(179, 100%, 13%);

--clr-trans-white: hsla(0, 0%, 100%, 0.75);
--clr-vl-gray: hsl(0, 0%, 95%);

--ff-primary: "lexend" , sans-serif;
--ff-secondary: "big Shoulders", sans-serif;

}